﻿<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<head>
    <link rel="stylesheet" href="/css/EstilosLogin.css" />
    <title>Login</title>
</head>
<body>
    <header>
        <div id="Cabecera">
            <a id="logo-marca" href="/#">Caxamarca</a>
            <!--<a id="Option" href="/#">Cursos</a>-->
        </div>
    </header>

    <div id="Login" class="mb-3">
        <h1>Iniciar Sesión</h1>
        <form action="/Auth/Login" method="post">
            <p>Usuario</p>
            <input class="form-text" type="text" name="username" placeholder="tu nombre de usuario" required />
            <p>Contraseña</p>
            <input class="form-text" type="password" name="password" required /><br />
            <button class="btn btn-primary">Iniciar sesión</button>
        </form>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</body>