﻿<div>
    <h1>
        Pokemon encontrado!
    </h1>
    <div>
        <img src="@Model.Imagen" , width="300" />
        <h1>@Model.Nombre</h1>
        <h5>@Model.Id</h5>
        <h5>@Model.Tipo</h5>
    </div>
</div>