﻿@{
    
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<div>
    <h1>Pokemones</h1>
    <h1>Busca tu pokemon</h1>
    <form >
        <input type="search" placeholder="Busca el pokemon" />
    </form>
    <div class="row">
        @foreach (var poke in Model)
        {
            <div class="col-md-4 text-center mb-3 bt-3">
                <div class="card">
                    <form action="/Main/CapturaPokemon?id=@poke.Id" method="post">
                        <img src="@poke.Imagen" , width="300" />
                        <h1 class="card-text">@poke.Nombre</h1>
                        <h5 class="card-text">@poke.Id</h5>
                        <h5 class="card-text">@poke.Tipo</h5>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <button>Capturar</button>
                        }
                    </form>
                </div>
            </div>
        }
    </div>
</div>
