﻿
<div>
    <h1>Tus pokemones</h1>
    <div>
        <h1>Pokemones</h1>
        @foreach (var poke in Model)
        {
            <form action="/Main/LiberaPokemon?id=@poke.Id" method="post">
                <img src="@poke.Imagen" , width="300" />
                <h1>@poke.Nombre</h1>
                <h5>@poke.Id</h5>
                @if (User.Identity.IsAuthenticated)
                {
                    <button>Liberar</button>
                }
            </form>
        }
    </div>
</div>
