﻿<div>

    @if (TempData["AuthMessage"] != null)
    {
        <p id="AuthMessage" style="color:red;">@TempData["AuthMessage"]</p>
    }
    <h1>Registra tu pokemon</h1>
    <div class="mb-3">
        <form action="/Main/RegistraPokemon" enctype="multipart/form-data" method="post">
            Nombre <input class="form-control" type="text" name="Nombre" required />
            <br />
            <select id="Lista" required>
                <option>Planta</option>
                <option>Veneno</option>
                <option>Fuego</option>
                <option>Volador</option>
                <option>Agua</option>
                <option>Bicho</option>
                <option>Eléctrico</option>
                <option>Tierra</option>
                <option>Hada</option>
                <option>Normal</option>
                <option>Lucha</option>
                <option>Psíquico</option>
                <option>Roca</option>
                <option>Acero</option>
                <option>Hielo</option>
                <option>Fantasma</option>
                <option>Dragón</option>
            </select>
            <input type="file" name="imagen" accept=".jpg,.png" required />
            <button  class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>

<script>
    $('#Lista').change(function () {

        var request = $.ajax({
            Tipo = $('#Lista').val()
        });
    });
</script>